body {
    font-family: 'Times New Roman', Times, serif;
    
}

#resultado{
    border: 2px solid #c24545;
    padding: 10px;
    width: 200px;
    margin: 10px;
    background-color: #ffffff;
    text-align: center;
}
