body{
    background-color: black;
  }
  
  .tabela {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  
  /* Estilo para a primeira linha (cabeçalho) */
  .cabecalho {
    grid-column: span 2; /* Ocupa duas colunas */
    background-color: rgb(43, 41, 41);
    padding: 5px;
    color:#9ddda0;
    font-family: 'Jost', sans-serif;
  }
  
  /* Estilo para as linhas */
  .linha {
    background-color:rgb(43, 41, 41);
    padding: 5px;
    color: #9ddda0;
    font-family: 'Jost', sans-serif;
  }
  
  .text{
   color:white;
   font-family: 'Jost', sans-serif;
  }