body{
    background: linear-gradient(to right, #a82020 50%, #ffffff 50%);
    height: 85vh;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    position: absolute;
    display: flex;
    top: 0px;
    height: 50px;
    width: 100%;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 10px;
}
.icons{
    width: 80px;
    display: flex; 
    justify-content: space-around;
}
.curriculo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top:17%; 
    width: 150px; 
    height: 150px;
    border-radius: 50%; /*formato redondo */
    overflow: hidden; /*recorta a imagem */
    box-shadow: 0px 0px 10px rgb(172, 15, 7)/*sombra */
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ontop{
    font-family: Tahoma;
    color: black;
    text-align: center;
    position: absolute;
    top: 480px;
}

.name{
        position: absolute;
        top: 10px;
        left:390px;
        font-family: "Verdana";
        color:#ffffff
    }
    
    .sobre{
        text-align: center;
        font-family: "Tahoma";
        position: absolute;
        top:0;
        right: 0;
        padding: 30px;
        
    }
    
    .projetos{
        font-family: "Tahoma";
        position: absolute;
        top:0;
        right: 4%;
        padding: 10px;
    
    }
    
    .logogit{
        width:32px;
        height:auto;
        display: center;
        position:absolute;
        top: 58%;
        left:890px;
    }
    
    
    .logoinsta{
        width:32px;
        height:auto;
        display: center;
        position:absolute;
        top: 58%;
        left:940px;
    }

    .logotik{
        width:60px;
        height:auto;
        display: center;
        position:absolute;
        top: 58%;
        left:965px;

    }